In [58]:
import pandas as pd
from pytrends.request import TrendReq
from time import sleep
import datetime as dt

In [135]:
pytrends=TrendReq()
kw_list1= ['bitcoin','Mining','Tesla','Blockchain','Elon Musk']
pytrends.build_payload(kw_list1, cat=0, timeframe='2018-01-01 2023-01-31')
df1=pytrends.interest_over_time()

In [129]:
pytrends=TrendReq()
kw_list2=['Coin','Cryptocurrency','Ethereum',]
pytrends.build_payload(kw_list2, cat=0, timeframe='2018-01-01 2023-01-31')
df2=pytrends.interest_over_time()

In [147]:
df=pd.merge(df1.drop('isPartial',axis=1), df2.drop('isPartial',axis=1), left_index=True, right_index=True)

In [156]:
index=pd.Series(pd.date_range(start='2018-01-01',end='2023-01-31'),name='date')

In [169]:
df_fin=pd.merge(pd.DataFrame(index),df,how='left', on='date')

In [176]:
df_fin[:10]

,date,bitcoin,Mining,Tesla,Blockchain,Elon Musk,Coin,Cryptocurrency,Ethereum
0,2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2018-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2018-01-07,58.0,11.0,12.0,5.0,2.0,100.0,16.0,15.0
7,2018-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2018-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2018-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
df_fin=df_fin.fillna(method='backfill').fillna(method='ffill')

In [190]:
df_fin.set_index('date',inplace=True)

In [192]:
df_fin.to_csv('Google_trends_data.csv')